checkpointing/rootfs
checkpointing/pid.txt
checkpointing/ckpt
runsc-network/rootfs
runsc-network/pid.txt
runsc-network/ckpt

deno-criu/images
runc-network/rootfs
runc-network/pid.txt
runc-network/ckpt

node_modules

firecracker/firecracker
firecracker/firecracker-v*-*.tgz
firecracker/release-v*-*/
firecracker/ubuntu-22.04.ext4
firecracker/ubuntu-22.04.id_rsa
firecracker/vmlinux-*
firecracker/*.log
firecracker/with_metadata/*.log
firecracker/with_mounting/*.log

cloud-hypervisor/cloud-hypervisor
cloud-hypervisor/ch-remote
cloud-hypervisor/vmlinux-*
cloud-hypervisor/Image-*
cloud-hypervisor/bzImage-*
cloud-hypervisor/*.ext4
cloud-hypervisor/*.img
cloud-hypervisor/*.id_rsa
cloud-hypervisor/*.log
cloud-hypervisor/*.pid*
cloud-hypervisor/*.tmp
cloud-hypervisor/with_metadata/*.log
cloud-hypervisor/with_mounting/*.ext4
cloud-hypervisor/with_mounting/*.img
cloud-hypervisor/with_mounting/*.log

firecracker/with_snapshot/work/
cloud-hypervisor/with_snapshot/work/
snapshot-results.csv

cloud-hypervisor/with_virtiofs/*.log
cloud-hypervisor/with_virtiofs/*.pid
cloud-hypervisor/with_virtiofs/shared/*
!cloud-hypervisor/with_virtiofs/shared/.gitkeep

cloud-hypervisor/with_custom_virtiofs/*.log
cloud-hypervisor/with_custom_virtiofs/*.pid
cloud-hypervisor/with_custom_virtiofs/custom-virtiofsd/target/
cloud-hypervisor/with_custom_virtiofs/shared/*
!cloud-hypervisor/with_custom_virtiofs/shared/.gitkeep
